<div class="container", style="position:relative;top:150px">
  <div class="row">
    <div class="col-xs-12">
      <h2></i>Merci d'avoir réservé avec DEways!</h2>
      <p>Voici le récapitulatif de votre réservation :</p>
      <div class="booking-content text-center">
        <h3>Booking ticket n°<%= @booking.id %></h3>
        <hr>
        <ul class="list-unstyled">
          <li><strong>Marque : </strong><%= @car.make %></li>
          <li><strong>Modèle : </strong><%= @car.model %></li>
          <li><strong>Places : </strong><%= @car.seats %></li>
          <li><strong>Prix journalier : </strong><%= @car.daily_rate %>€</li>
          <li><strong>Début : </strong> <%= @booking.checkin_date %></li>
          <li><strong>Fin : </strong> <%= @booking.checkout_date %></li>
          <hr>
          <li><strong>Total TTC : </strong> 243,4 €</li>
        </ul>
        <span><i class="fa fa-print"></i> print</span>
      </div>
    </div>
  </div>
  <%= link_to "back", car_path(@car) %>
</div>
