<div class="area"></div>
<nav class="main-menu">
  <ul>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-home"></i>
        <span class="nav-text">
        My dashboard
        </span>
      <% end %>
    </li>
    <li class="has-subnav">
      <%= link_to "#" do %>
        <i class="fa fa-envelope-o"></i></i>
        <span class="nav-text">
        Messages
        </span>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-cogs"></i>
        <span class="nav-text">
        Settings
        </span>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-car"></i>
        <span class="nav-text">
        My vehicle
        </span>
      <% end %>
    </li>
  </ul>
  <ul class="logout">
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-power-off"></i>
        <span class="nav-text">
        Logout
        </span>
      <% end %>
    </li>
  </ul>
</nav>

