<%= content_for(:title) do %>
  <% if @page_title %>
  Cars in <%= @page_title%>
  <% else %>
  All cars
  <% end %>
<% end %>
<%= content_for(:description) do %>
  bla bla bla
<% end %>



<div class="search-results">


  <div class="search-results-list-container col-xs-12 col-sm-7  form-inline">
    <%= search_form_for @q, :builder => SimpleForm::FormBuilder do |f| %>
      <%= hidden_field_tag :search, @page_title %>

    <span>
      <%= f.label :seats %>
      <%= f.select :seats_eq,  options_for_select([['Select', ''], ['2'], ['3'], ['4'], ['5'], ['6']], :selected => :seats) %>

    </span>
    <hr>

    <span>
      <%= f.label :motorisation %>
      <%= f.select :motorisation_eq, options_for_select([['Select', ''], ['Essence'], ['Diesel'], ['gpl'], ['Hybride']], :selected => :motorisation) %>
    </span>
    <hr>
    <span>
      <%= f.label :category %>
      <%= f.select :category_eq, options_for_select([['Select', ''], ['Berline'], ['Citadine'], ['SUV'], ['4x4'], ['Utilitaire']], :selected => :motorisation) %>

    </span>
    <hr>

    <span>
      <%= f.label :gear_box %>
      <%= f.select :gear_box_eq, options_for_select([['Select', ''], ['Automatique'], ['Manuelle']], :selected => :motorisation) %>
    </span>
    <hr>
    <span>
      <%= f.label :daily_price %>
      <%= f.select :daily_rate_eq, options_for_select([['Select', ''], [10], [25]], :selected => :daily_rate) %>
    </span>
    <hr>
    <span>
      <%= f.button :submit, class: 'btn btn-primary' %>
    </span>
    <% end %>

    <div class="container-fluid no-padding">
    <% @cars.each do |car| %>

        <div class="col-sm-12 col-md-6 no-padding">

          <%=  render 'shared/car_card', car: car %>
        </div>
    <% end %>
    </div>
  </div>
  <div class="search-results-map col-xs-12 col-xs-offset-12 col-sm-5 col-sm-offset-7 no-padding" >
     <div id="map" style='width: 800px; height: 600px;'></div>

  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({

      <!-- RAJOUTE le style de la carte dans le builder -->

      provider: {
      styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"saturation":-100},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"visibility":"on"},{"saturation":-100},{"lightness":40}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"saturation":-10},{"lightness":30}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":-60},{"lightness":10}]},{"featureType":"landscape.natural","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":-60},{"lightness":60}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"},{"saturation":-100},{"lightness":60}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"},{"saturation":-100},{"lightness":60}]}]
    },
    <!-- Fin du style de la carte -->
      internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
