<%= content_for(:title) do %>
  <% if @page_title %>
  Cars in <%= @page_title%>
  <% else %>
  All cars
  <% end %>
<% end %>
<%= content_for(:description) do %>
  bla bla bla
<% end %>



<div class="search-results">
  <div class="search-results-list-container col-xs-12 col-sm-7">
    <div class="search-box-container container-fluid no-padding">
      <div class="col-sm-12 no-padding">
        <%= render 'shared/search_box' %>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="container-fluid no-padding">
      <% @cars.each do |car| %>
        <div class="col-sm-12 col-md-6 no-padding">
          <%=  render 'shared/car_card', car: car %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="search-results-map col-xs-12 col-xs-offset-12 col-sm-5 col-sm-offset-7 no-padding" >
    <div class="spacer-nav-height"></div>
    <div id="map" style='width: 100%; height: calc(100vh - 70px);'></div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({

      <!-- RAJOUTE le style de la carte dans le builder -->

      provider: {
      styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"saturation":-100},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"visibility":"on"},{"saturation":-100},{"lightness":40}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"saturation":-10},{"lightness":30}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":-60},{"lightness":10}]},{"featureType":"landscape.natural","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":-60},{"lightness":60}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"},{"saturation":-100},{"lightness":60}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"},{"saturation":-100},{"lightness":60}]}]
    },
    <!-- Fin du style de la carte -->
      internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
