<div class="spacer"></div>
<div class="container">
  <!-- FIRST COLUMN -->
  <div class="col-xs-12 col-sm-8 no-padding">
    <div class="car-details-picture-container">
      <div class="banner text-center" style="background-image: url('<%= @car.picture %> ')">
        <div class="banner-shadow"></div>
        <div class="banner-content">
          <h1><%= @car.make %> <%= @car.model %></h1>
        </div>
      </div>
    </div>
    <div class="car-details-map-container">
      <div id="map" style='width: 760px; height: 300px;'></div>
      <p><i class="fa fa-map-marker"></i> Paris, France</p>
    </div>
    <div class="car-details-description-container">
      <h3>Description</h3>
      <p><%= @car.description %></p>
      <h3>Caractéristiques techniques</h3>
      <div class="col-xs-12 col-sm-6">
        <table class="car-details-description-table">
          <tbody>
            <tr>
              <td>Année</td>
              <td><%= @car.year %></td>
            </tr>
            <tr>
              <td>Moteur</td>
              <td><%= @car.motorisation %></td>
            </tr>
            <tr>
              <td>Boîte</td>
              <td><%= @car.gear_box %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-6">
        <table class="car-details-description-table">
          <tbody>
            <tr>
              <td>Places</td>
              <td><%= @car.seats %> places</td>
            </tr>
            <tr>
              <td>Consommation</td>
              <td><%= @car.gaz_consumption %>l / 100km</td>
            </tr>
            <tr>
              <td>Type</td>
              <td><%= @car.category %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3>Options et accessoires</h3>
      <div class="col-xs-12 col-sm-4">
        <div class="car-details-car-option">
          <i class="fa fa-check-square-o"></i>
          <span>Climatisation</span>
        </div>
        <div class="car-details-car-option">
          <i class="fa fa-check-square-o"></i>
          <span>Direction assistée</span>
        </div>
        <div class="car-details-car-option">
          <i class="fa fa-square-o"></i>
          <span>Régulateur de vitesse</span>
        </div>
        <div class="car-details-car-option">
          <i class="fa fa-check-square-o"></i>
          <span>GPS</span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="car-details-car-option">
          <i class="fa fa-square-o"></i>
          <span>Siège bébé</span>
        </div>
        <div class="car-details-car-option">
          <i class="fa fa-square-o"></i>
          <span>Coffre de toit</span>
        </div>
        <div class="car-details-car-option">
          <i class="fa fa-square-o"></i>
          <span>Porte-vélos</span>
        </div>
        <div class="car-details-car-option">
          <i class="fa fa-square-o"></i>
          <span>Pneus neige</span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="car-details-car-option">
          <i class="fa fa-square-o"></i>
          <span>Chaines</span>
        </div>
        <div class="car-details-car-option">
          <i class="fa fa-square-o"></i>
          <span>Porte-skis</span>
        </div>
        <div class="car-details-car-option">
          <i class="fa fa-check-square-o"></i>
          <span>Lecteur CD</span>
        </div>
        <div class="car-details-car-option">
          <i class="fa fa-check-square-o"></i>
          <span>Entrée audio / iPod</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
    </div>
  </div>

  <!-- SECOND COLUMN -->
  <div class="col-xs-12 col-sm-4 no-padding">
    <%= render 'bookings/shared/bookingform' %>
  </div>
</div>

<div>
  <% if current_user == @car.user %>
    <%= link_to "Edit", edit_car_path(@car), class: "btn btn-info" %>
    <%= link_to "Delete", car_path(@car), class: "btn btn-info", method: :delete, data: {confirm: "Are you sure ?"} %>
  <% end %>
  <%= link_to "Back", cars_path, class: "btn btn-danger" %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({

      <!-- RAJOUTE le style de la carte dans le builder -->

      provider: {
      styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"saturation":-100},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"visibility":"on"},{"saturation":-100},{"lightness":40}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"saturation":-10},{"lightness":30}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":-60},{"lightness":10}]},{"featureType":"landscape.natural","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":-60},{"lightness":60}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"},{"saturation":-100},{"lightness":60}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"},{"saturation":-100},{"lightness":60}]}]
    },
    <!-- Fin du style de la carte -->
      internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);

        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
